hr {
    color: black;
}

#img1 {
    width: 400px;
    height: 285px;
    margin-left: 115px;
}

#img2 {
    margin-left: 68px;
}

#more_about {
    margin-left: 30px;
}

#projects {
    margin-left: 10px;
}

#view_projects {
    margin-left: 25px;
}

#more_about,
#view_projects {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    margin-left: 25px;
    margin-bottom: 20px;
}

.card-text {
    font-size: 0.9rem;
}

@media (max-width: 768px) {

    #img1,
    #img2,
    #view_projects,
    .card {
        margin-left: 0;
    }
}