{% extends 'master.html' %}
{% load static %}

{% block title %}
Neel Moradiya - Portfolio
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'home.css' %}">

<section class="hero text-white text-center pb-1">
    <div class="container pt-3">
        <h1 class="display-5">Welcome to My Portfolio</h1>
    </div>
</section>

<section class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <!-- <h2 id="about">About Me</h2> -->

                <p class="lead" style="font-size: 1.5rem;">Hii! I'm <span id="name">Neel Moradiya,</span> a passionate
                    web
                    developer.</p>

                <ul class="lead">
                    <li>I possess a solid foundation in programming languages
                        and
                        computer science principles, which I have further reinforced through hands-on projects
                        showcasing my
                        technical proficiency.</li>
                    <li>Excited to channel my creativity and adaptability
                        towards
                        making meaningful contributions within a
                        dynamic IT team, I am enthusiastic about launching my rewarding journey in software development.
                    </li>
                </ul>
                <a href="about_me" class="btn btn-info" id="more_about">More About Me</a>
            </div>
            <div class="col-lg-6">
                <img src="{% static 'software_developer.png' %}" id="img1" class="img-fluid"
                    alt="Software Developer Image">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <hr>
            </div>
        </div>
    </div>
</section>

<section class="pt-4 pb-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <img src="{% static 'web_development.png' %}" id="img2" class="img-fluid" alt="Web Development Image">
            </div>
            <div class="col-lg-6">
                <h2 id="projects" class="pb-2">My Projects</h2>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">FastRef.ME</h5>
                                <p class="card-text">Informative site, clone of QuickRef.ME</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">FastRef.ME</h5>
                                <p class="card-text">Informative site, clone of QuickRef.ME</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">FastRef.ME</h5>
                                <p class="card-text">Informative site, clone of QuickRef.ME</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">FastRef.ME</h5>
                                <p class="card-text">Informative site, clone of QuickRef.ME</p>
                            </div>
                        </div>
                    </div>
                </div>

                <a href="projects" class="btn btn-info" id="view_projects">View More Projects</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}