{% extends 'master.html' %}
{% load static %}

{% block title %}
Projects - Neel Moradiya
{% endblock %}

{% block content %}
<section class="py-3">
    <div class="container">
        <h2 class="display-4 text-center pb-5">My Projects</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bg-primary text-white">
                    <img src="{% static 'project_1.png' %}" class="card-img-top" alt="Project 1">
                    <div class="card-body">
                        <h5 class="card-title">FastRef.ME</h5>
                        <p class="card-text">Informative site, clone of QuickRef.ME</p>
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-success bg-success text-white">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}